html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.gameboard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.gameboard-and-information {
  display: flex;
  column-gap: 30px;
}

.cell {
  width: 20vmin;
  height: 20vmin;
  min-width: 50px;
  min-height: 50px;
  font-size: 10vmin;
}

.information {
  display: flex;
  flex-direction: column;
}