html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
}

.gameboard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
  width: 50px;
  height: 50px;
}

.information {
  display: flex;
  flex-direction: column;
}