html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background-color: #b3aceb94;
  align-items: center;
}

.gameboard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.gameboard-and-information {
  display: flex;
  column-gap: 30px;
}

.cell {
  width: 20vmin;
  height: 20vmin;
  min-width: 100px;
  min-height: 100px;
  font-size: 10vmin;
  background-color: #e3c2c2;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  
}

.information p:first-child {
  color: green;
}

.information p:last-child {
  color: red;
}

.buttons {
  align-self: center;
}

.buttons > button {
  padding: 20px;
  border-radius: 15px;
  background-color: #056bd7;
  color: white;
  font-size: 1.5rem;
}

/*.player1-name {
  color: green;
}

.player2-name {
  color: red;
}*/